@import "./Button.module.css";

/* :root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
  --color-brand: #b24342;
} */

.searchbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  width: 100%;
  height: auto;
  background-color: blue;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: auto;
  gap: 10px;
}
.input {
  padding: 8px;
  height: 100%;
  width: 100%;
  color: #261c09;
}
.btn {
  padding: 0 20px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.btn:hover {
  box-shadow: inset 2px 2px 3px rgba(77, 57, 19, 0.75), inset -2px -2px 4px rgba(249, 243, 232, 0.6);
}
.search__btn {
  text-align: center;
  height: 100%;
  width: 30vw;
  min-width: 80px;
}


/* Media */
@media screen and (min-width: 480px) {
  .form {
    flex-direction: row;
    width: 60vw;
  }
  .input {
    padding: 4px;
  }
  .search__btn {
    width: 20vw;
  }
}

@media screen and (min-width: 768px) {
  .form {
    width: 50vw;
  }

  .search__btn {
    width: 16vw;
  }
}
@media screen and (min-width: 1140px) {
  .form {
    width: 40vw;
  }
}